[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
