# Ignore everything in the root except the specified files
/*
!/.bash
!/.bash_completion
!/.bash_completion.d
!/.bazaar
!/.dotfiles
!/.drush
!/.elinks
!/.gitattributes-global
!/.gitconfig
!/.gitignore
!/.gitignore-global
!/.grip
!/.hgextensions
!/.irbrc
!/.minttyrc
!/.railsrc
!/.rdebugrc
!/.rvm
!/.ssh
!/.tmux.conf
!/.tmux_cheatsheet
!/.vagrant.d
!/.vim
!/Dotfiles.sublime-project
!/README.md
!/bin
!/lib
!/opt

# Drush - config, not cache
/.drush/cache

# Elinks
/.elinks/bookmarks
/.elinks/cookies
/.elinks/globhist
/.elinks/searchhist

# Grip - config only, not cache & access token
/.grip/cache*
/.grip/settings-local.py

# RVM - after_cd hook only
/.rvm/*
!/.rvm/hooks/
/.rvm/hooks/*
!/.rvm/hooks/after_cd_record_bash_lastdirectory

# SSH - config & public keys only, but ignore per-account public keys
/.ssh/*
!/.ssh/config
!/.ssh/*.pub
/.ssh/google_compute_engine.pub
/.ssh/id_rsa.pub

# Vagrant
/.vagrant.d/*
!/.vagrant.d/provision-*.sh
!/.vagrant.d/Vagrantfile

# Vim - ignore history
/.vim/.netrwhist

# Vim plugins - ignore tags files
/.vim/bundle/*/doc/tags

# Python compiled files
*.pyc

# cPanel files
/bin/pear
/bin/peardev
/bin/pecl
.ea-php-cli.cache

# gitolite executables
/bin/gitolite*
/bin/gl-*
/bin/sshkeys-lint
