# Ignore everything in the root except the specified files
/*
!/.bash
!/.bash_completion
!/.bash_completion.d
!/.bazaar
!/.elinks
!/.gitattributes-global
!/.gitconfig
!/.gitignore
!/.gitignore-global
!/.hgextensions
!/.irbrc
!/.minttyrc
!/.railsrc
!/.rdebugrc
!/.tmux.conf
!/.tmux_cheatsheet
!/.vim
!/Dotfiles.sublime-project
!/README.md
!/bin
!/lib
!/opt

# Composer - config only, not cache files
!/.composer
/.composer/*
!/.composer/composer.json
!/.composer/composer.lock
!/.composer/packages

# Drush - config, not cache
!/.drush
/.drush/cache

# Elinks
/.elinks/bookmarks
/.elinks/cookies
/.elinks/globhist

# Grip - config only, not cache & access token
!/.grip
/.grip/cache*
/.grip/settings-local.py

# RVM - after_cd hook only
!/.rvm/
/.rvm/*
!/.rvm/hooks/
/.rvm/hooks/*
!/.rvm/hooks/after_cd_record_bash_lastdirectory

# SSH - config & public key only
!/.ssh
/.ssh/*
!/.ssh/config
!/.ssh/*.pub

# Vagrant
!/.vagrant.d
/.vagrant.d/*
!/.vagrant.d/provision-*.sh
!/.vagrant.d/Vagrantfile

# Vim - ignore history
/.vim/.netrwhist

# Vim plugins - ignore tags files
/.vim/bundle/*/doc/tags

# Python compiled files
*.pyc

# gitolite executables
/bin/gitolite*
/bin/gl-*
/bin/sshkeys-lint
