[alias]
    ai           = add --interactive
    amend        = !git commit --amend --no-edit --reset-author && echo && git --no-pager status
    ap           = add --patch
    b            = branch
    ba           = branch -avv
    bm           = branch --merged
    bnm          = branch --no-merged
    ca           = !git commit --amend --no-edit --reset-author && echo && git --no-pager status
    ce           = !git commit --amend --reset-author && echo && git --no-pager status
    ci           = commit
    changed      = diff --name-only
    co           = checkout
    cob          = checkout -b
    cp           = cherry-pick
    d            = diff --find-copies
    da           = diff --find-copies --text
    dc           = diff --cached --find-copies
    dca          = diff --cached --find-copies --text
    dcf          = diff --cached --stat
    dcw          = diff --cached --ignore-all-space --find-copies
    dcwa         = diff --cached --ignore-all-space --find-copies --text
    dcww         = diff --cached --ignore-all-space --find-copies --word-diff=color
    df           = diff --stat
    dw           = diff --ignore-all-space --find-copies
    dwa          = diff --ignore-all-space --find-copies --text
    dww          = diff --ignore-all-space --find-copies --word-diff=color
    f            = fetch -v --prune
    fe           = fetch -v --prune
    g            = grep --untracked --break --heading --line-number
    g3           = grep --untracked --break --heading --line-number -C3
    g6           = grep --untracked --break --heading --line-number -C6
    g9           = grep --untracked --break --heading --line-number -C9
    ga3          = ga -C3
    ga6          = ga -C6
    ga9          = ga -C9
    gi           = grep --untracked --break --heading --line-number --ignore-case
    gi3          = grep --untracked --break --heading --line-number --ignore-case -C3
    gi6          = grep --untracked --break --heading --line-number --ignore-case -C6
    gi9          = grep --untracked --break --heading --line-number --ignore-case -C9
    gil          = grep --untracked --break --heading --line-number --ignore-case --name-only
    gl           = grep --untracked --break --heading --line-number --name-only
    ignored      = ls-files --others -i --exclude-standard --directory
    l            = log --decorate --name-status
    l1           = log --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%ci) %C(bold blue)<%an>%C(reset)'
    lg           = log --decorate --graph
    lg1          = log --graph --pretty=format:'%C(red)%h%C(reset) -%C(yellow)%d%C(reset) %s %C(green)(%ci) %C(bold blue)<%an>%C(reset)'
    ll           = log --decorate
    lp           = log --decorate -p
    lpa          = log --decorate -p -a
    lpaw         = log --decorate -p -a --ignore-all-space
    lpf          = log --decorate -p --follow
    lpw          = log --decorate -p --ignore-all-space
    lpwa         = log --decorate -p -a --ignore-all-space
    m            = merge
    mt           = mergetool
    p            = push
    pl           = pull
    plr          = pull --rebase
    r            = remote
    rb           = rebase
    rba          = rebase --abort
    rbc          = rebase --continue
    rbi          = rebase --interactive
    rbs          = rebase --skip
    remotes      = remote -v
    rl           = reflog
    rmc          = rm --cached -r
    root         = rev-parse --show-toplevel
    rv           = revert
    s            = status
    sa           = all status --short
    sub          = submodule
    sync         = !git submodule sync --recursive && git submodule update --init --recursive
    t            = tag
    todo         = grep --untracked --line-number 'TODO\\|XXX\\|FIXME'
    unshallow    = fetch --unshallow

[color]
    branch = auto
    diff = auto
    grep = auto
    status = auto

[commit]
    verbose = 2

[core]
    pager = delta-or-less

[delta]
    features = decorations
    navigate = true

[delta "decorations"]
    file-decoration-style = brightwhite
    file-style = brightwhite
    grep-file-style = brightwhite
    hunk-header-decoration-style = none
    hunk-header-file-style = brightcyan
    hunk-header-line-number-style = brightcyan
    hunk-header-style = cyan
    line-numbers = true
    line-numbers-minus-style = red
    line-numbers-plus-style = green
    line-numbers-left-style = white
    line-numbers-right-style = white
    minus-non-emph-style = syntax 52
    minus-emph-style = syntax 88
    minus-empty-line-marker-style = syntax 52
    minus-style = syntax 52
    plus-non-emph-style = syntax 22
    plus-emph-style = syntax 28
    plus-empty-line-marker-style = syntax 22
    plus-style = syntax 22

[diff]
    colorMoved = default

[init]
    defaultBranch = master

[merge]
    conflictstyle = diff3
    tool = vimdiff3

[mergetool]
    keepBackup = false

[pack]
    threads = 0

[pager]
    grep = less # 16 Apr 2022: 'delta' is a little buggy and replaced "-" with ":" in some filenames
    ls-files = true
    status = true
    tag = false

[pull]
    rebase = false

[push]
    default = upstream
    followTags = true

[rerere]
    enabled = true

[tag]
    sort = version:refname

[user]
    email = info@alberon.co.uk
    name = Alberon Ltd.

[include]
    path = .gitconfig_personal
    path = .gitconfig_local
