# Ignore everything in the root except the specified files
/*

!/.azure
/.azure/*
!/.azure/alias
!/.azure/config

!/.azure-shell
/.azure-shell/*
!/.azure-shell/shell-config

!/.bash
!/.bash_completion
!/.bash_profile
!/.bash_profile_personal
!/.bashrc
!/.bashrc_personal

!/.bin
/.bin/local/*

!/.cache
/.cache/*

!/.dotfiles

!/.drush
/.drush/cache

!/.elinks
/.elinks/*
!/.elinks/elinks.conf

!/.gitconfig
!/.gitconfig_personal
!/.github
!/.gitignore

!/.grip
/.grip/cache*
/.grip/settings-local.py

!/.hushlogin
!/.inputrc

!/.local
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/bash-completion/
/.local/share/bash-completion/*
!/.local/share/bash-completion/completions/

!/.minttyrc
!/.multipass

!/.ssh
/.ssh/*
!/.ssh/config
!/.ssh/config_personal
!/.ssh/*.pub
/.ssh/google_compute_engine.pub
/.ssh/id_rsa.pub

!/.sudo_as_admin_successful
!/.sqliterc
!/.tmux.conf
!/.tmux_cheatsheet

!/.vim
/.vim/autoload/plug.vim.old
/.vim/plugged/

!/.vimrc

.ea-php-cli.cache
*.pyc

# This is required until all accounts have updated to the new structure
!/bin
/bin/*
!/bin/cfg-update
/.bin/personal

!.gitkeep
