[user]
    name = Dave James Miller
    email = dave@davejamesmiller.com

[core]
    excludesfile = ~/.gitignore-global

[color]
    branch = auto
    status = auto
    diff = auto

[pack]
    threads = 0

[pager]
    ls-files = true
    status = true

[push]
    default = tracking

[alias]
    addremove = add -A
    amend = commit --amend -C HEAD
    ar = add -A
    b = branch
    ba = branch -a
    branches = branch
    cp = cherry-pick
    ci = commit
    co = checkout
    d = diff            #--find-copies --irreversible-delete
    dc = diff --cached  #--find-copies --irreversible-delete
    fe = fetch
    glog = log --graph
    id = log --pretty=format:'ID:    %h%nDate:  %aD%nRefs:%d' --abbrev-commit --date=short -1
    ignored = ls-files --others -i --exclude-standard --directory
    in = incoming
    mt = mergetool
    out = outgoing
    remotes = remote -v
    root = rev-parse --show-toplevel
    serve = instaweb
    sh = repl
    st = status
    sub = submodule
    sync = !git submodule sync && git submodule update --init
    tags = tag
    web = instaweb

[github]
    user = davejamesmiller

[browser "none"]
    cmd = git-web-browser

[instaweb]
    httpd = apache2
    browser = none
