[user]
    name = Dave James Miller
    email = dave@davejamesmiller.com

[core]
    excludesfile = ~/.gitignore-global

[color]
    branch = auto
    status = auto
    diff = auto

[pack]
    threads = 0

[pager]
    ls-files = true
    status = true

[alias]
    addremove = add -A
    ar = add -A
    #b = branch
    #ba = branch -a
    ci = commit
    co = checkout
    d = diff
    dc = diff --cached
    fe = fetch
    #fp = format-patch
    #g = !git gui &
    glog = log --graph
    #gr = log --graph
    #go = log --graph --pretty=oneline --abbrev-commit
    id = log --pretty=format:'ID:    %h%nDate:  %aD%nRefs:%d' --abbrev-commit --date=short -1
    ignored = ls-files --others -i --exclude-standard
    in = incoming
    #k = !gitk &
    #ka = !gitk --all &
    #lc = log ORIG_HEAD.. --stat --no-merges
    #lp = log --patch-with-stat
    #mnf = merge --no-ff
    #mnff = merge --no-ff
    #mt = mergetool
    out = outgoing
    #p = format-patch -1
    #pullsrb = !git stash save && git pull --rebase && git stash pop && echo 'Success!'
    root = rev-parse --show-toplevel
    #serve = !git daemon --reuseaddr --verbose --base-path=. --export-all ./.git
    serve = instaweb
    #sra = svn rebase --all
    #sh = !git-sh
    st = status
    #stm = status --untracked=no
    #stfu = status --untracked=no
    sub = submodule
    web = instaweb

[github]
    user = davejamesmiller

[browser "none"]
    cmd = git-web-browser

[instaweb]
    httpd = apache2
    browser = none
