[submodule ".vim/bundle/tlib_vim"]
	path = .vim/bundle/tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule ".vim/bundle/vim-addon-mw-utils"]
	path = .vim/bundle/vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule ".vim/bundle/snipMate"]
	path = .vim/bundle/snipMate
	url = git://github.com/davejamesmiller/vim-snipmate.git
[submodule "opt/git-extras"]
	path = opt/git-extras
	url = git://github.com/visionmedia/git-extras.git
[submodule ".vim/bundle/gemfile"]
	path = .vim/bundle/gemfile
	url = git://github.com/tobiassvn/vim-gemfile.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-css3-syntax"]
	path = .vim/bundle/vim-css3-syntax
	url = git://github.com/hail2u/vim-css3-syntax.git
