#===============================================================================
# Defaults from /etc/inputrc
#===============================================================================

# Be 8 bit clean.
set input-meta on
set output-meta on

# some defaults / modifications for the emacs mode
$if mode=emacs

    # allow the use of the Home/End keys
    "\e[1~": beginning-of-line
    "\e[4~": end-of-line

    # allow the use of the Delete/Insert keys
    "\e[3~": delete-char
    "\e[2~": quoted-insert

    # mappings for Ctrl-left-arrow and Ctrl-right-arrow for word moving
    "\e[1;5C": forward-word
    "\e[1;5D": backward-word
    "\e[5C": forward-word
    "\e[5D": backward-word
    "\e\e[C": forward-word
    "\e\e[D": backward-word

    $if term=rxvt
        "\e[8~": end-of-line
        "\eOc": forward-word
        "\eOd": backward-word
    $endif

$endif

#===============================================================================
# Custom settings
#===============================================================================

# Turn off the annoying and pointless beeping
set bell-style none

# Start typing then use Up/Down to see *matching* history items only
"\e[5~": history-search-backward
"\e[6~": history-search-forward

# Tab & shift-tab to run through all options instead of showing a list
TAB: menu-complete
"\e[Z": "\e-1\C-i"

# Ignore case when doing so
set completion-ignore-case on

# Don't tab-complete hidden files (unless the . is typed)
set match-hidden-files off

# Add the / to completed symlinks to directories
set mark-symlinked-directories on

# Expand history immediately (press space)
$if Bash
    Space: magic-space
$endif
