snippet dump
	<% console.debug ${1} %>
snippet else
	<% else %>
snippet end
	<% end %>
snippet for
	<% for ${1:i} in ${2:array}: %>
		${3}
	<% end %>
snippet forin
	<% for ${1:i} in ${2:array}: %>
		${3}
	<% end %>
snippet forof
	<% for ${1:key}, ${2:value} of ${3:object}: %>
		${4}
	<% end %>
snippet if
	<% if %{1}: %>
		${2}
	<% end %>
snippet ife
	<% if %{1}: %>
		${2}
	<% else %>
		
	<% end %>
snippet rc
	<% ${1} %>
snippet rce
	<%= ${1} %>
