snippet {
    {
        ${1}
    }

snippet --
	/*--------------------------------------
	 ${1}
	---------------------------------------*/

snippet /**
	/**
	 * ${1}
	 */

snippet /*
	/*
	${1}
	*/

snippet :f
	${1:method_name}: function(${2:attribute}) {
		${4}
	}${3:,}

snippet ==
	/*==============================================================================
	 ${1}
	==============================================================================*/

snippet dump
	console.debug(${1});
