snippet kb
	 vim:ft=knowledgebase
	--------------------------------------------------------------------------------
	`snipMateCustom#SetFileTypeKnowledgebase()`
	

# This is to prevent Vim using the modeline from the snippet above!
# vim:ft=snippet
