snippet ==
	================================================================================
snippet =h
	================================================================================
	 ${1}
	================================================================================${2}
snippet --
	--------------------------------------------------------------------------------
snippet -h
	--------------------------------------------------------------------------------
	 ${1}
	--------------------------------------------------------------------------------${2}
snippet kb
	 vim:ft=knowledgebase
	--------------------------------------------------------------------------------
	`snipMateCustom#SetFileTypeKnowledgebase()`
# This is to prevent Vim using the modeline from the snippet!
# vim:ft=snippets
